html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1rem;
  color: #e0e8eb;
  background-color: #1a2125;
}

h1 {
  margin: 0;
  text-align: center;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem 0;
}

.header h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.header .generate {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr 1fr 1fr;
      grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
  gap: 2rem;
  margin: 0 5rem;
  height: 4rem;
}

.header .generate .range {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.25fr 1fr 0.25fr;
      grid-template-columns: 0.25fr 1fr 0.25fr;
}

.header .generate .range input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-appearance: none;
  background-color: #2d99e0;
  width: 100%;
  height: 12px;
  border-radius: 10em;
}

.header .generate .range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #8ec7f5;
  cursor: pointer;
}

.header .generate .range p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.header .generate__container {
  cursor: pointer;
  background-color: #2d99e0;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  width: 100%;
}

.header .generate__container > h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
}

.header .generate__start {
  cursor: pointer;
  background-color: #1b9e21;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  width: 100%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header .generate__start > h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
}

.generate__algos {
  display: -ms-grid;
  display: grid;
  position: relative;
  background-color: #2d99e0;
  border-radius: 10px;
  cursor: pointer;
}

.generate__algos__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
}

.generate__algos__container > h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
}

.generate__algos__container .caret {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.generate__algos__container .caret.down {
  border-top-color: #e0e8eb;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.generate__algos__container .caret.up {
  border-bottom-color: #e0e8eb;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.generate__algos .dropdown {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: -1;
  background-color: #2d99e0;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.generate__algos .dropdown .algorithm > h1 {
  font-size: 1rem;
}

.visualizer {
  display: -ms-grid;
  display: grid;
}

.visualizer__container {
  justify-self: center;
  width: 90vw;
  height: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #e0e8eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
